@model IEnumerable<ShipBobUserOrderManagement.Models.User>
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "User Index";
}
<!-- Page Content -->


<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
            <img src="~/images/shipbob.jpg" alt="Sample Photo" />
           
        </div>
    </div>
</div>

<!-- .row -->

<!-- /.row -->
<!-- /#page-wrapper -->